{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row box-element rounded my-4">
        <div class="col-lg-6">
            <div class="" id="form-wrapper">
                <form action="" id="form">
                    <h3 class="ml-2">User Information:</h3>
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Name..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder="Email..">
                        </div>
                    </div>
                    <div id="shipping-info">
                        <hr>
                        <h3 class="ml-2">Shipping Information:</h3>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Address..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="City..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="state" placeholder="State..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="country" placeholder="Zip code..">
                        </div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2">
                    {% if item.product.image %}
                    <img src="{{item.product.image.url}}" alt="" width="70" class="img-fluid rounded shadow-sm">
                    {% endif  %}
                </div>
                <div style="flex:1">
                    <h5 class="mb-0"> <a href="#" class="text-dark">{{item.product.name}}
                            shoe</a></h5>
                </div>
                <div style="flex:1">
                    <p><strong>${{item.product.price}}</strong>
                        <p>
                </div>
            </div>
            {% endfor %}
            <div class="p-4">
                <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have
                    entered.
                </p>
                <ul class="list-unstyled mb-4">
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong
                            class="text-muted">Total Items:</strong><strong>{{order.get_items}}</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order
                            Subtotal
                        </strong><strong>${{order.get_cart_total|floatformat:2}}</strong></li>
         
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping
                            and
                            handling</strong><strong>$10.00</strong></li>

                    <li class="d-flex justify-content-between py-3 border-bottom"><strong
                            class="text-muted">Total</strong>
                        <h5 class="font-weight-bold">$400.00</h5>
                    </li>
                </ul><a href="#" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
            </div>
        </div>

    </div>
    <div class="box-element hidden" id="payment-info">
        <small>Paypal Options</small>
    </div>
</div>
</div>

{% endblock %}