{% extends 'main.html' %} 
{% load static %} 
{% block content %}


 



<h2 class="text-center my-3">All Products</h2>
<div class="divider my-4"></div>


<div class="container ">
    <div class="row mt-5"> 
    {% for product in products %}
         <div class="col-md-4 my-4  ">
            <!-- bbb_deals -->
            <div class="bbb_deals">
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                    {% if product.image  %}
                        <div class="bbb_deals_image"><img src={{product.image.url}} class="product-img" alt="" width="100%" height="200px"></div>
                    {% endif %}
                        <div class="bbb_deals_content">
                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_category"><a href="#">Product category</a></div>
                            </div>
                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_name">{{product.name}}</div>
                                <div class="bbb_deals_item_price ml-auto">${{product.price}}</div>
                            </div>
                            <div class="row  mt-4">
                                <button class="btn btn-info mx-3 "><a href="{% url 'detail' product.id %}">View<a/></button>
                                <button data-product={{product.id}} data-action="add" class="btn btn-success update-cart">Add to Cart</button>
                            </div>
                     
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}